$post-description-font: 12px;
$page-font: 15px;
$nav-font: 18px;
$header-caption-font: 26px;
$post-caption-font: 24px;

$primary-color: #01ACAC;
$border-color: #607D8B;
$post-description-color: #E90303;

$content-container-width: 1020px;
